/* @FONT-FACES */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

:root {
    --header-image: url('./assets/images/teamaquabanner.png');
    --color-primary: #4eacbb;
    --color-primary-dark-1: #318693;
    --color-primary-light-1: #65c6d5;
    --color-primary-light-2: #98dae1;
    --color-primary-light-3: #d0f2ef;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

a { 
  color: var(--color-primary);
  font-weight: bold;
  text-decoration:none;
}

a:hover {
    color: var(--color-primary-dark-1);
}

body {
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    background: #63ad98;
    background: linear-gradient(360deg, rgba(99, 173, 152, 1) 0%, rgba(42, 123, 155, 1) 53%, rgba(42, 123, 155, 1) 100%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

@media (width <= 550px) {
    padding: 10px;
}

* {
    box-sizing: border-box;
}

/* the "container" is what wraps your entire website */
/* if you want something (like the header) to be Wider than
the other elements, you will need to move that div outside
of the container */
#container {
    max-width: min(100%, 900px);
}

#header {
    position: relative;
}

#header > img {
    width: 100%;
}

#header > .motto {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: white;
    font-family: 'Bang-Tamvan', sans-serif;
}

#header > .motto > .x {
    color: #F85562;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
    background-color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.intro {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.hacks_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
    width: 100%;
}

.hacks_block > .hacks_block_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.hacks_block > .hacks_block_title > h2 {
    color: var(--color-primary-dark-1);
    font-size: 26px;
    font-family: 'Bang-Tamvan', sans-serif;
}

.hacks_block > .hacks_block_title > img {
    width: 40px;
}

.hacks_subblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-primary-light-3);
}

.hacks_subblock > .hacks_subblock_title {
    color: var(--color-primary);
    font-size: 20px;
    font-family: 'Bang-Tamvan', sans-serif;
}

.hacks_subblock > .hack_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
    text-align: center;
}

.hacks_subblock > .hack_buttons > .hack_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    border: 3px solid var(--color-primary-light-2);
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    flex: 1 1 250px;
    min-height: 250px;
    max-width: min(100%, 320px);
}

.hacks_subblock > .hack_buttons > .hack_button:hover {
    border-color: var(--color-primary-light-1);
}

.hacks_subblock > .hack_buttons > .hack_button > p {
    font-size: 16px;
    font-weight: normal;
}

.hacks_subblock > .hack_buttons > .hack_button > img {
    max-width: min(300px, 100%);
}

@font-face {
    font-family: Bang-Tamvan;
    src: url('./assets/fonts/Bang%20Tamvan.ttf');
}

@font-face {
    font-family: Rounds-Neue;
    src: url('./assets/fonts/Rounds Neue/TT%20Rounds%20Neue%20Regular.ttf');
}

@font-face {
    font-family: Rounds-Neue;
    src: url('./assets/fonts/Rounds Neue/TT%20Rounds%20Neue%20Bold.ttf');
    font-weight: bold;
    }

@font-face {
    font-family: Rounds-Neue;
    src: url('./assets/fonts/Rounds Neue/TT%20Rounds%20Neue%20Medium%20Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Rounds-Neue;
    src: url('./assets/fonts/Rounds Neue/TT%20Rounds%20Neue%20Bold%20Italic.ttf');
    font-style: italic;
    font-weight: bold;
}